@import url('https://fonts.googleapis.com/css2?family=My+Soul&family=Noto+Sans+Arabic:wght@100..900&display=swap');

@import "./Navbar.css";
@import "./RecipeForm.css";
@import "./Admin.css";
@import "./RecipeDetailPage.css";
@import "./Reviews.css";
@import "./ReviewDetailPage.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}