@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=My+Soul&display=swap');

@import "./Navbar.css";
@import "./RecipeForm.css";
@import "./Admin.css";
@import "./RecipeDetailPage.css";
@import "./Reviews.css";
@import "./ReviewDetailPage.css";
@import "./Search.css";

html, body {
   margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background: #85a798b6;
box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
 min-height: 100vh;
 height: auto; 
 background: #85a798b6;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #d4ffecb6;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2e7a6bfd;
  border-radius: 10px;
  border: 3px solid #d4ffecb6;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #f702a9e6;
}


@supports (padding: max(0px)) {
  body {
    padding-top: max(env(safe-area-inset-top), 0px);
  }

  .navbar {
    padding-top: max(env(safe-area-inset-top), 8px);
  }
}

